<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>16765189</integer>
	<integer>3886465</integer>
	<integer>14096672</integer>
	<integer>3886465</integer>
	<integer>14096672</integer>
	<integer>16765189</integer>
	<integer>14359073</integer>
	<integer>2301728</integer>
	<integer>16573952</integer>
	<integer>5554874</integer>
	<integer>15539236</integer>
	<integer>5552456</integer>
	<integer>3783917</integer>
	<integer>14096672</integer>
	<integer>16573952</integer>
	<integer>5552456</integer>
	<integer>5285340</integer>
	<integer>9004972</integer>
	<integer>14096672</integer>
	<integer>2301728</integer>
	<integer>16573952</integer>
	<integer>35790</integer>
	<integer>15008140</integer>
	<integer>13658537</integer>
	<integer>15539236</integer>
	<integer>16089653</integer>
	<integer>5554874</integer>
	<integer>35790</integer>
	<integer>15539236</integer>
	<integer>16089653</integer>
	<integer>16573952</integer>
	<integer>26548</integer>
	<integer>2301728</integer>
	<integer>14967845</integer>
	<integer>16112402</integer>
	<integer>5942725</integer>
	<integer>3102106</integer>
	<integer>11740714</integer>
	<integer>2301728</integer>
</array>
</plist>
