<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>2500638</integer>
	<integer>5994836</integer>
	<integer>4673847</integer>
	<integer>2717552</integer>
	<integer>12765036</integer>
	<integer>16763487</integer>
	<integer>14188327</integer>
	<integer>12276519</integer>
	<integer>5859939</integer>
	<integer>7875353</integer>
	<integer>4213300</integer>
	<integer>16180675</integer>
	<integer>14135906</integer>
	<integer>16243087</integer>
	<integer>3155737</integer>
	<integer>6834748</integer>
	<integer>2301728</integer>
	<integer>8722973</integer>
	<integer>9328418</integer>
	<integer>13873009</integer>
	<integer>7369324</integer>
	<integer>5584943</integer>
	<integer>13670974</integer>
	<integer>6304045</integer>
	<integer>6241565</integer>
	<integer>4935201</integer>
	<integer>12290092</integer>
	<integer>10181430</integer>
	<integer>11280163</integer>
	<integer>15650973</integer>
	<integer>12160860</integer>
	<integer>8214593</integer>
	<integer>5058079</integer>
	<integer>8656408</integer>
	<integer>11768653</integer>
	<integer>6303533</integer>
	<integer>7490600</integer>
	<integer>4935714</integer>
	<integer>12420908</integer>
	<integer>10706243</integer>
	<integer>11280420</integer>
	<integer>9328418</integer>
	<integer>13670974</integer>
	<integer>5994836</integer>
	<integer>8656408</integer>
	<integer>11280163</integer>
	<integer>5859939</integer>
	<integer>5584943</integer>
	<integer>15650973</integer>
	<integer>2717552</integer>
	<integer>13670974</integer>
	<integer>12276519</integer>
</array>
</plist>
