<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>11896877</integer>
	<integer>14924861</integer>
	<integer>2966558</integer>
	<integer>5206078</integer>
	<integer>10664916</integer>
	<integer>4876178</integer>
	<integer>6980005</integer>
	<integer>14778966</integer>
	<integer>13486254</integer>
	<integer>7578451</integer>
	<integer>3830597</integer>
	<integer>10466230</integer>
	<integer>4689584</integer>
	<integer>8290989</integer>
	<integer>14778966</integer>
	<integer>15776381</integer>
	<integer>16115920</integer>
	<integer>8300153</integer>
	<integer>11125668</integer>
	<integer>6588794</integer>
	<integer>10466230</integer>
	<integer>10000735</integer>
	<integer>12039567</integer>
	<integer>6187353</integer>
	<integer>10993326</integer>
	<integer>8037526</integer>
	<integer>6794665</integer>
	<integer>10131598</integer>
	<integer>7173979</integer>
	<integer>5009756</integer>
	<integer>5536640</integer>
	<integer>6716053</integer>
	<integer>10704227</integer>
	<integer>9939086</integer>
	<integer>12968637</integer>
	<integer>10928329</integer>
	<integer>6323616</integer>
	<integer>3227510</integer>
	<integer>13296298</integer>
	<integer>6658380</integer>
	<integer>3826993</integer>
	<integer>13294301</integer>
	<integer>9741243</integer>
	<integer>8214426</integer>
	<integer>14924861</integer>
	<integer>4689584</integer>
	<integer>8290989</integer>
	<integer>11125668</integer>
	<integer>16115920</integer>
	<integer>15776381</integer>
	<integer>6658380</integer>
	<integer>4689584</integer>
	<integer>5536640</integer>
	<integer>6794665</integer>
	<integer>13296298</integer>
	<integer>14778966</integer>
</array>
</plist>
